* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #848393;
}

h2 {
    color: #313b39;
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

form input {
    width: 48%;
    min-height: 40px;
    border-radius: 8px;
    font-size: 16px;
}

.movie-input {
    padding: 0 10px;
    border: 1px solid lightgray;
    color: rgb(128, 128, 128);

}

.movie-input::placeholder {
    font-size: 16px;
    color: rgb(184, 184, 184);
}

.green-btn {
    background-color: #00c349;
    color: white;
    border: none;
}

.green-btn:hover {
    cursor: pointer;
    background-color: #00a03b;
    outline: 2px solid #9fe9b8;
}

.cards-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    justify-items: center;
}

.movie-card {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 12px black;
    margin-bottom: 30px;

}

.movie-poster {
    height: 390px;
    overflow: hidden;
    object-fit:fill;
}

.movie-poster img {
    width: 100%;
    height: 100%;
}

.movie-box {
    border: 1px solid #d6d4ce;
    padding-bottom: 14px;
}

.movie-title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    background-color: #d6d4ce;
    padding: 10px 4px;
}

.movie-info {
    padding: 15px 0;
    text-align: center;
}

.movie-info p:not(:last-child) {
    margin-bottom: 20px;
}

.detail-btn {
    display: block;
    width: 100%;
    min-height: 36px;
    font-size: 16px;
    border-radius: 4px;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: #5a5a5b83;
}

.modal-block {
    width: 1120px;
    padding: 12px;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
}

.modal-content {
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 14px;
    display: flex;
}

.modal-image {
    margin-right: 15px;
}

.modal-image img {
    display: block;
    width: auto;
}

.movie-full-info .movie-title {
    margin-bottom: 15px;
}

.movie-full-info p, .movie-full-info span {
    line-height: 1.3;
    color: #313b39; 
}

.movie-full-info p:not(:last-child) {
    margin-bottom: 8px;
}

.movie-full-info .small-text {
    font-size: 13px;
    color: rgb(166, 166, 166);
}

.movie-full-info span {
    font-weight: 800;
}